[Unit]
Description=Scheduler that notifies when the time to smoke comes round again.
After=syslog.target network.manager

[Service]
Type=simple
User=demyanseleznev
Group=demyanseleznev
ExecStart=/usr/local/bin/smoke-scheduler --daemonize
Restart=always
RestartSec=30
EnvironmentFile=/etc/systemd/system/smoke-scheduler.d/environment.conf

[Install]
WantedBy=multi-user.target